<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   
   <filter>
   <filter-name>CharacterEncodingFilter</filter-name>
   <filter-class>com.ipaynow.filter.CharacterEncodingFilter</filter-class>
   <init-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
   </init-param>
   </filter>
   <filter-mapping>
   <filter-name>CharacterEncodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
   </filter-mapping>
   
  <servlet>
    <servlet-name>tester</servlet-name>
    <servlet-class>com.ipaynow.test.Tester</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>tester</servlet-name>
    <url-pattern>/tester</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>wappage</servlet-name>
    <servlet-class>com.ipaynow.test.WapPage</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>wappage</servlet-name>
    <url-pattern>/wappage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>topay</servlet-name>
    <servlet-class>com.ipaynow.test.ToPay</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>topay</servlet-name>
    <url-pattern>/topay</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>frontnotify</servlet-name>
    <servlet-class>com.ipaynow.test.NotifyAccessor</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>frontnotify</servlet-name>
    <url-pattern>/frontnotify</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>  
  
</web-app>